<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--autowire by name-->
    <!--<bean class="q4.Tea" id="teaBean"></bean>
    <bean class="q4.ExpressTea" name="hotDrink1" id="expressTeaBean"></bean>

    <bean class="q4.Restaurant" id="restaurant1" autowire="byName"></bean>-->

    <!--autowire by type-->
    <!--<bean class="q4.ExpressTea" id="expressTeaBean"></bean>
    <bean class="q4.Restaurant" id="restaurant1" autowire="byType"></bean>
-->

    <!--autowire by constructor-->

    <bean class="q4.Tea" name="hod" id="teaBean" ></bean>
    <bean class="q4.ExpressTea" id="expressTeaBean"></bean>
    <bean class="q4.Restaurant" id="restaurant1" autowire="constructor" scope="singleton">

    </bean>

</beans>